.chat-message-list{
	list-style: none;
	padding: 2rem 1rem;
	margin: 0;
	li{
		display: table;
		padding: 0 1rem;
		margin-bottom: 1rem;
		background-color: white;
		border: 1px solid #E2E2E2;
	}
}

.center-absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 3rem;
}